.input {
  height: 56px;
  padding: 0 1rem;
  border: 1px solid rgb(205, 204, 204);
  border-radius: 8px;
  background-color: white;
  outline: none;
}
.input::placeholder {
  color: rgb(141, 141, 141);
}
.containerInput {
  display: flex;
  flex-direction: column;
}
.helperError {
  font-size: 12px;
  text-align: end;
  color: rgba(255, 0, 0, 0.536);
  margin: 6px 0;
}
.inputError {
  border: 1px solid rgba(255, 0, 0, 0.536);
  color: rgba(255, 0, 0, 0.536) !important;
}
