.input {
  margin-bottom: 1rem;
}
.container {
  display: flex;
}
.col {
  flex: 1;
}
.containerForm {
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px -3px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 2px 5px -3px rgba(148, 148, 148, 1);
  box-shadow: 0px 2px 5px -3px rgba(148, 148, 148, 1);
}

@media screen and (max-width: 768px) {
  .col:first-child {
    max-width: 1rem;
  }
  .col:last-child {
    max-width: 1rem;
  }
}
