.container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.search {
  width: 80%;
}
.containerButton {
  display: flex;
}
.containerButton button:first-child {
  margin-right: 1rem;
}
.order {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid salmon;
}
