.background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.579);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal {
  background-color: white;
  z-index: 21;
  padding: 1rem;
  border-radius: 8px;
}
