.background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.579);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal {
  background-color: white;
  z-index: 21;
  padding: 1rem;
  border-radius: 8px;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.footer button {
  background-color: transparent;
  border-radius: 8px;
  height: 36px;
  border: 1px solid rgb(171, 171, 171);
  cursor: pointer;
}

.footer button:last-child {
  color: rgb(193, 50, 50);
}
.header {
  border-bottom: 1px solid rgb(171, 171, 171);
}
.header .title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem 0;
}
.header p {
  color: rgb(90, 90, 90);
  margin: 1rem 0;
}
